 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 849px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 161px 0 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -30px 765px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -29px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 12rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 100px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 565px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 345px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 165px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 128px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 104px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -155px;
    margin-left: 257px;
  }

  .u-section-1 .u-text-3 {
    font-size: 4rem;
    width: auto;
    margin-top: 293px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1440px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 115px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    margin-left: 63px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-top: 20px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
    margin-top: 20px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.5rem;
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.5rem;
    margin-top: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    font-size: 2.5rem;
    margin-top: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    font-size: 2.5rem;
    margin-top: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    font-size: 2.5rem;
    margin-top: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    font-size: 2.5rem;
    margin-top: 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    font-size: 2.5rem;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    font-size: 2.5rem;
  }
} .u-section-3 {
  background-image: none;
  background-position: 50% 50%;
}

.u-section-3 .u-video-1 {
  height: 740px;
  margin: 66px 0 0;
}

.u-section-3 .u-group-elements-1 {
  width: 941px;
  min-height: 300px;
  margin: 83px calc(((100% - 1140px) / 2)  + 3px) 0 auto;
}

.u-section-3 .u-group-elements-2 {
  width: 701px;
  min-height: 300px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  height: 298px;
  width: 448px;
  margin: -107px auto 0 calc(((100% - 1140px) / 2)  + 122px);
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: -248px calc(((100% - 1140px) / 2)  + 252px) 0 calc(((100% - 1140px) / 2)  + 603px);
}

.u-section-3 .u-text-2 {
  font-weight: 500;
  letter-spacing: -1px;
  font-size: 2.25rem;
  margin: -107px calc(((100% - 1140px) / 2)  + 296px) 0 calc(((100% - 1140px) / 2)  + 603px);
}

.u-section-3 .u-btn-1 {
  --radius: 3px;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 90px calc(((100% - 1140px) / 2)  + 391px) 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-3 .u-text-3 {
  font-weight: 500;
  letter-spacing: -1px;
  font-size: 2.25rem;
  margin: 289px calc(((100% - 1140px) / 2)  + 777px) 0 calc(((100% - 1140px) / 2)  + 122px);
}

.u-section-3 .u-group-elements-3 {
  width: 956px;
  min-height: 300px;
  margin: 41px 234px 0 50px;
}

.u-section-3 .u-group-elements-4 {
  min-height: 300px;
  width: 450px;
  height: auto;
  margin: -90px -64px 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: -331px calc(((100% - 1140px) / 2)  + 733px) 0 calc(((100% - 1140px) / 2)  + 122px);
}

.u-section-3 .u-btn-2 {
  --radius: 3px;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 23px auto 60px calc(((100% - 1140px) / 2)  + 122px);
  padding: 7px 27px 7px 26px;
}

.u-section-3 .u-image-2 {
  height: 226px;
  margin: -422px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-elements-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-1 {
    margin-top: 229px;
    margin-right: calc(((100% - 940px) / 2)  + 184px);
    margin-left: calc(((100% - 940px) / 2) + 122px);
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -147px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 202px;
    margin-right: 288px;
    margin-left: calc(((100% - 940px) / 2)  + 533px);
  }

  .u-section-3 .u-btn-1 {
    margin-top: 139px;
    margin-right: calc(((100% - 940px) / 2)  + 191px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-3 {
    margin-top: -394px;
    margin-right: calc(((100% - 940px) / 2)  + 677px);
    margin-left: calc(((100% - 940px) / 2)  + 22px);
  }

  .u-section-3 .u-group-elements-3 {
    width: 940px;
    margin-top: -4px;
    margin-right: 0;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-4 {
    margin-top: -286px;
    margin-right: calc(((100% - 940px) / 2)  + 633px);
    margin-left: calc(((100% - 940px) / 2)  + 22px);
  }

  .u-section-3 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-elements-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2)  + 184px);
    margin-left: calc(((100% - 720px) / 2)  + 46px);
  }

  .u-section-3 .u-text-2 {
    margin-right: 221px;
    margin-left: calc(((100% - 720px) / 2)  + 408px);
  }

  .u-section-3 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2)  + 479px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-group-elements-3 {
    width: 720px;
    margin-top: 20px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2)  + 435px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-elements-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-1 {
    margin-top: 226px;
    margin-right: calc(((100% - 540px) / 2)  + 250px);
    margin-left: calc(((100% - 540px) / 2) + 92px);
  }

  .u-section-3 .u-text-1 {
    margin-top: -144px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 166px;
    margin-left: calc(((100% - 540px) / 2)  + 306px);
  }

  .u-section-3 .u-btn-1 {
    margin-top: 142px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-3 {
    margin-top: -407px;
    margin-right: calc(((100% - 540px) / 2)  + 299px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-group-elements-3 {
    width: 540px;
    margin-top: 9px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-4 {
    margin-top: -293px;
    margin-right: calc(((100% - 540px) / 2)  + 255px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 2023px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 334px;
    min-height: 424px;
    height: auto;
    margin-top: -234px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + -23px);
  }

  .u-section-3 .u-group-elements-2 {
    width: 266px;
    min-height: 178px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    height: 226px;
    width: 340px;
    margin-top: -241px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 622px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    width: 335px;
    margin-top: -659px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 111px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
    width: 241px;
    margin-top: 378px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-group-elements-3 {
    width: 336px;
    min-height: 226px;
    height: auto;
    margin-top: -325px;
    margin-right: 52px;
    margin-left: 52px;
  }

  .u-section-3 .u-group-elements-4 {
    min-height: 226px;
    width: 340px;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: -50px;
  }

  .u-section-3 .u-text-4 {
    width: 285px;
    margin-top: -447px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 606px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 575px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 47px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 238px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.25rem;
    margin-top: 20px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 683px;
}

.u-section-5 .u-group-elements-1 {
  width: 1021px;
  min-height: 311px;
  margin: 126px 0 0 auto;
}

.u-section-5 .u-group-elements-2 {
  min-height: 63px;
  width: 695px;
  height: auto;
  margin: 0 0 0 auto;
}

.u-section-5 .u-line-1 {
  transform-origin: right center;
  height: 2px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-line-2 {
  transform-origin: right center;
  margin-top: 58px;
  height: 2px;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  margin: -52px 504px 0 335px;
}

.u-section-5 .u-group-elements-3 {
  width: 381px;
  min-height: 231px;
  height: auto;
  margin: 17px 101px 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 0 9px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 18px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 103px 0 0;
}

.u-section-5 .u-group-elements-4 {
  width: 539px;
  min-height: 191px;
  height: auto;
  margin: -182px 0 0 auto;
}

.u-section-5 .u-line-3 {
  transform-origin: right center;
  height: 2px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-line-4 {
  transform-origin: right center;
  margin-top: 60px;
  height: 2px;
  margin-bottom: 0;
}

.u-section-5 .u-line-5 {
  transform-origin: right center;
  margin-top: 61px;
  height: 2px;
  margin-bottom: 0;
}

.u-section-5 .u-line-6 {
  transform-origin: right center;
  margin-top: 60px;
  height: 2px;
  margin-bottom: 0;
}

.u-section-5 .u-list-1 {
  width: 44px;
  margin: -249px calc(((100% - 1140px) / 2)  + 305px) 60px auto;
}

.u-section-5 .u-repeater-1 {
  min-height: 243px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 5px 10px;
}

.u-section-5 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 5px 10px;
}

.u-section-5 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 5px 10px;
}

.u-section-5 .u-text-8 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 5px 10px;
}

.u-section-5 .u-text-9 {
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-elements-1 {
    width: 940px;
  }

  .u-section-5 .u-list-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-6 {
    width: auto;
  }

  .u-section-5 .u-text-7 {
    width: auto;
  }

  .u-section-5 .u-text-8 {
    width: auto;
  }

  .u-section-5 .u-text-9 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
    min-height: 243px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 546px;
  }

  .u-section-5 .u-group-elements-1 {
    width: 639px;
    min-height: 337px;
    margin-top: 90px;
    margin-right: -199px;
  }

  .u-section-5 .u-group-elements-2 {
    width: 276px;
    margin-top: -7px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -48px;
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-5 .u-group-elements-3 {
    min-height: 210px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: 103px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 34px;
    margin-right: 100px;
    margin-left: 3px;
  }

  .u-section-5 .u-group-elements-4 {
    width: 440px;
    margin-top: -168px;
    margin-right: 199px;
    margin-left: 0;
  }

  .u-section-5 .u-list-1 {
    margin-top: -257px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 400px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 63px 63px 0;
}

.u-section-6 .u-text-2 {
  text-decoration: underline !important;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 39px auto 60px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    font-size: 1rem;
  }
}